/*---------------------------------------------------------------*/
body {
  height: 100vh;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  color: #612406;
}
header {
  background-color: #fef7e2;
  padding: 1rem;

  font-size: 1rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}
header ul li img {
  max-width: 25px;
}
header nav ul li {
  display: flex;
  border-radius: 30px;
  padding: 7px;
  height: 18px;
  background-color: #ffdf7f;
  align-items: center;
}
header nav ul li span {
  position: relative;

  left: 2px;
}
header nav ul li:nth-of-type(3) {
  bottom: 9px;
  position: relative;

  padding: 10px;
  height: 30px;
}
main {
  padding: 12px;
}
h1 {
  margin-bottom: 1.5rem;
  font-size: 36px;
  font-weight: bold;
}
.containerCard {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  width: 15rem;
  border-radius: 35px;
  background-color: #fef7e2;
}

.card img {
  width: 100%;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}
.textCard {
  margin-top: 8px;
  margin-left: 15px;
}
.price {
  margin-top: 13px;
  margin-left: auto;
  margin-right: 10px;
}

.buttonCard {
  background-color: #ffdf7f;
  border-radius: 20px;
  border: none;
  padding-inline: 20px;
  padding-block: 6px;
  margin-inline: auto;
  margin-block: 10px;
}

h2 {
  margin-block: 1rem;
  font-size: 26px;
  font-weight: bold;
}
article {
  gap: 15px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #fef7e2;
}
article h3 {
  font-size: 20px;
  font-weight: bold;
}
article img {
  width: 100%;
}
